*{
  color: white;
  font-family: 'Courier New';
}
.particles{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.App {
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
}
/* h1, h2, h3, label, p {
  color: #333; /* Darker color for better readability on white backgrounds 
}

.App h1 {
  color: white; /* Keep the main title white to stand out on the gradient background 
} */